.container {
  max-width: 1125px;
  margin: 0px auto;
  padding: 0 15px;
}

.page-link {
  color: #d4d6d4;
  line-height: 24px;
  position: relative;
  padding-left: 22px;
  text-decoration: underline;
  transition: 200ms ease-in-out all;
  -webkit-transition: 200ms ease-in-out all;
  -moz-transition: 200ms ease-in-out all;
  -ms-transition: 200ms ease-in-out all;
  -o-transition: 200ms ease-in-out all;
}
.page-link:before {
  content: "";
  border: 5px solid transparent;
  border-left: 7px solid #d4d6d4;
  position: absolute;
  top: 7px;
  left: 7px;
  transition: inherit;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
}
.page-link:hover {
  color: #ffd723;
}
.page-link:hover:before {
  border-left: 7px solid #ffd723;
}

.page-comments {
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
  color: #4d533c;
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #4d533c;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  transition: 300ms ease-in-out all;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -ms-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  max-width: 256px;
  min-height: 40px;
}
.header__list-wrp {
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 50px;
  overflow: hidden;
}
.header__list {
  display: flex;
  gap: 30px;
}
.header__link {
  color: #b6c197;
  transition: 200ms ease-in-out all;
  -webkit-transition: 400ms ease-in-out all;
  -moz-transition: 400ms ease-in-out all;
  -ms-transition: 400ms ease-in-out all;
  -o-transition: 400ms ease-in-out all;
  opacity: 0%;
  transform: translateX(70%);
  -webkit-transform: translateX(70%);
  -moz-transform: translateX(70%);
  -ms-transform: translateX(70%);
  -o-transform: translateX(70%);
  transition: 400ms ease-in-out all;
  -webkit-transition: 400ms ease-in-out all;
  -moz-transition: 400ms ease-in-out all;
  -ms-transition: 400ms ease-in-out all;
  -o-transition: 400ms ease-in-out all;
  pointer-events: none;
}
.header__link--active {
  opacity: 100%;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  pointer-events: visible;
}
.header__link:hover {
  color: #ffd723;
}
.header__burger {
  width: 40px;
  height: 40px;
  background: #f5f6f7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}
.header__burger-inner-wrp {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  height: 13px;
  width: 18px;
}
.header__burger-inner-wrp--close .header__burger-line:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(225deg);
  -webkit-transform: translateY(-50%) rotate(225deg);
  -moz-transform: translateY(-50%) rotate(225deg);
  -ms-transform: translateY(-50%) rotate(225deg);
  -o-transform: translateY(-50%) rotate(225deg);
}
.header__burger-inner-wrp--close .header__burger-line:nth-child(2) {
  display: none;
}
.header__burger-inner-wrp--close .header__burger-line:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-225deg);
  -webkit-transform: translateY(50%) rotate(-225deg);
  -moz-transform: translateY(50%) rotate(-225deg);
  -ms-transform: translateY(50%) rotate(-225deg);
  -o-transform: translateY(50%) rotate(-225deg);
}
.header__burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  transition: 200ms ease-in-out all;
  -webkit-transition: 200ms ease-in-out all;
  -moz-transition: 200ms ease-in-out all;
  -ms-transition: 200ms ease-in-out all;
  -o-transition: 200ms ease-in-out all;
}
.header__burger-line:first-child {
  top: 0;
}
.header__burger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header__burger-line:last-child {
  bottom: 0;
}
.header--active {
  background: #5d6544;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 160px 0 220px 0;
  background-image: url(../img/hero-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__desc {
  width: 51.6444444444%;
  color: white;
}
.hero__title {
  margin: 22px 0 24px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}
.hero__txt {
  margin: 24px 0 45px 0;
  line-height: 26px;
}

.what-we-do {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.what-we-do__clients {
  display: flex;
  gap: 66px;
  padding: 60px 166px 60px 65px;
  background-color: white;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  position: absolute;
  right: 0%;
  top: -100px;
  z-index: 3;
}
.what-we-do__inner-wrp {
  display: flex;
  position: relative;
  gap: 160px;
  padding-bottom: 150px;
  border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
.what-we-do__desc {
  padding: 244px 0 0 0;
  width: 41.7777777778%;
}
.what-we-do__subtitle {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 21px;
  color: #4d533c;
}
.what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4d533c;
}
.what-we-do__txt {
  margin: 35px 0 42px 0;
  line-height: 26px;
}
.what-we-do__comment {
  padding: 244px 8px 60px 40px;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  width: 42.1333333333%;
}
.what-we-do__comment-inner-wrp {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.what-we-do__comment-img {
  display: inline;
  width: 90px;
  height: 90px;
}
.what-we-do__comment-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #4d533c;
}
.what-we-do__comment-position {
  font-size: 16px;
  line-height: 24px;
  color: #152934;
}

.projects {
  padding-top: 150px;
  padding-bottom: 185px;
  max-width: 1440px;
  margin: 0 auto;
}
.projects__cap {
  display: flex;
  align-items: center;
  gap: 133px;
  margin-bottom: 110px;
}
.projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #4d533c;
  width: 30.2222222222%;
}
.projects__subtitle {
  line-height: 26px;
  width: 46.0444444444%;
}
.projects__items {
  display: flex;
  flex-direction: column;
  gap: 135px;
}
.projects__item {
  display: flex;
  gap: 90px;
  position: relative;
}
.projects__item_reverse {
  flex-direction: row-reverse;
}
.projects__img-wrp {
  min-height: 550px;
  position: relative;
  width: 51.0416666667%;
}
.projects__img {
  width: 100%;
}
.projects__comment {
  position: absolute;
  padding: 30px 33px 30px 30px;
  max-width: 453px;
  background: white;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  right: -35px;
  bottom: -62px;
}
.projects__comment_reverse {
  right: auto;
  left: -35px;
}
.projects__comment-txt {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 26px;
}
.projects__comment-inner-wrp {
  display: flex;
  gap: 14px;
}
.projects__comment-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #4d533c;
}
.projects__comment-position {
  font-size: 14px;
  line-height: 21px;
  color: #152934;
}
.projects__desc {
  width: 34.7222222222%;
  padding-top: 60px;
}
.projects__txt {
  margin-top: 24px;
  line-height: 26px;
  max-width: 421px;
}
.projects__link {
  margin-top: 90px;
}

.offers {
  padding: 150px 0 372px 0;
  border-top: 1px solid rgba(33, 56, 66, 0.0955529);
}
.offers__title {
  width: 53.9555555556%;
  margin-bottom: 87px;
}
.offers__items {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.offers__item {
  display: flex;
  flex-direction: column;
  width: 18.6666666667%;
}
.offers__item-title {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4d533c;
}
.offers__item-txt {
  margin: 20px 0 30px 0;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
}
.offers__link {
  margin-top: auto;
}

/* -----------------footer ----------*/
.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 300px 0 40px 0;
  background: url(../img/footer-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.footer__banner {
  padding: 70px 289px 70px 164px;
  background: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  position: absolute;
  left: 0;
  top: -173px;
}
.footer__title {
  margin-bottom: 50px;
  max-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
}
.footer__contacts {
  display: flex;
  gap: 128px;
  padding-bottom: 52px;
  border-bottom: 1px solid #5d6544;
}
.footer__contacts-name {
  margin-bottom: 8px;
  line-height: 40px;
  color: #b6c197;
}
.footer__contacts-txt {
  font-weight: 700;
  line-height: 40px;
  color: white;
}
.footer__links {
  padding: 60px 0 60px 0;
  display: flex;
  gap: 78px;
  border-bottom: 1px solid #5d6544;
}
.footer__links-title {
  margin-bottom: 21px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  color: white;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link {
  color: #b6c197;
}
.footer__link:hover {
  color: #ffd723;
}
.footer__line {
  width: 1px;
  height: 210px;
  background: #5d6544;
}
.footer__links-subtitle {
  margin: 0 0 23px 0;
  color: #b6c197;
  max-width: 270px;
  line-height: 26px;
}
.footer__mail {
  margin: 23px 0 24px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: white;
}
.footer__social {
  display: flex;
  gap: 11px;
}
.footer__social-item {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
  background: #444a34;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  transition: 200ms ease-in-out all;
  -webkit-transition: 200ms ease-in-out all;
  -moz-transition: 200ms ease-in-out all;
  -ms-transition: 200ms ease-in-out all;
  -o-transition: 200ms ease-in-out all;
}
.footer__social-item:hover {
  background: #ffd723;
}
.footer__social-item:hover .footer__social-icon {
  fill: white;
}
.footer__social-icon {
  fill: #5e6648;
  height: 21px;
  margin-top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: 200ms ease-in-out all;
  -webkit-transition: 200ms ease-in-out all;
  -moz-transition: 200ms ease-in-out all;
  -ms-transition: 200ms ease-in-out all;
  -o-transition: 200ms ease-in-out all;
}
.footer__bottom {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-size: 14px;
  line-height: 21px;
  color: #b5c096;
}/*# sourceMappingURL=style.css.map */