$width: 1440px;
$container: 1125px;
$primary: #21384299;
$black: #000000;
$yellow: #ffd723;
$white: #ffff;
$white2: #f5f6f7;
$white3: #fafafa;
$gray: #d4d6d4;
$olive: #4d533c;
$olive2: #5d6544;
$olive3: #444a34;
$olive4: #5e6648;
$olive-gray: #b6c197;
$olive-gray-2: #b5c096;
$dark-blue: #152934;
